
body {
  font-family: Arial;
  background: #e0f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.machine {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px gray;
}

label {
  display: block;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #00796b;
  color: white;
  border: none;
  cursor: pointer;
}

#status {
  margin-top: 15px;
  font-weight: bold;
}


